{% extends 'portfolio/base.html' %}

{% block content %}
<h1>This is the portfolio</h1>

{% load static %}

<a href="{% static 'portfolio/install.pdf' %}">Install File</a>
<br>
<img src="{% static 'portfolio/donkey.png' %}">
<br>
<a href="{% url 'blog:all_blogs' %}">blogs</a>
{% for project in projects %}

<h2>{{ project.title }}</h2>
<p>{{ project.title }}</p>
<img src="{{ project.image.url }}" height=100 width=100>
{% if project.url %}
<br>
<a href="{{ project.url }}">Link</a>
{% endif%}


{% endfor %}

{% endblock %}